/* Regular */
@font-face {
  font-family: 'WorkSansRegular';
  src: url('../fonts/static/WorkSans-Regular.ttf') format('woff2'),
    url('../fonts/static/WorkSans-Regular.ttf') format('woff'),
    url('../fonts/static/WorkSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Semi Bold */
@font-face {
  font-family: 'WorkSansSemiBold';
  src: url('../fonts/static/WorkSans-SemiBold.ttf') format('woff2'),
    url('../fonts/static/WorkSans-SemiBold.ttf') format('woff'),
    url('../fonts/static/WorkSans-SemiBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: 'WorkSansBold';
  src: url('../fonts/static/WorkSans-Bold.ttf') format('woff2'),
    url('../fonts/static/WorkSans-Bold.ttf') format('woff'),
    url('../fonts/static/WorkSans-Bold.ttf') format('truetype');
  font-weight: bolder;
  font-style: normal;
}

/* Variables */

:root {
  --white: hsl(0, 0%, 100%);
  --lightPink: hsl(275, 100%, 97%);
  --greyPurple: hsl(292, 16%, 49%);
  --darkPurple: hsl(292, 42%, 14%)
}

/* Utility Classes */

.bg-white {
  background-color: var(--white);
}

.bg-pink {
  background-color: var(--lightPink);
}

.bg-grey-purple {
  background-color: var(--greyPurple);
}

.bg-dark-purple {
  background-color: var(--darkPurple);
}

/* Typography */

body {
  font-family: 'WorkSansRegular', Arial, sans-serif;
  font-size: 16px;
  margin: 0;
}

h1 {
  font-family: 'WorkSansBold', Arial, sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'WorkSansSemiBold', Arial, sans-serif;
}

/* Custom Styling */

.attribution {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 25px 15px;
  text-align: center;
}

header.top {
  background-image: url(../images/background-pattern-desktop.svg);
  height: 300px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
}

section#faqContainer {
  z-index: 1;
  position: relative;
  width: 1170px;
  margin: auto;
  padding: 50px;
  border-radius: 25px;
}